.container {
	position: relative;
	width: 90%;
	padding: 100px 0 200px;
	display: grid;
	gap: 1.6em;
	grid-template-columns: repeat(4, 1fr);
}

.container .title,
.container .main-content,
.container .graduados-info,
.container .graduados-about {
	padding: 20px;
	grid-column: 1/5;
}

.container .title {
	text-decoration: none;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: var(--default);
}

.container .graduados-info,
.container .graduados-about {
	color: var(--default);
}

.container .main-content .graduados-table {
	margin: 25px auto;
}

.container .card {
	box-shadow: 0px 10px 20px #aeaeaf;
}

.container .main-content .graduados-table thead tr {
	background-color: var(--primary);
	color: var(--secondary);
}

.graduados-table th,
.graduados-table td,
.graduados-info th,
.graduados-info td {
	padding: 0.5em 0.5em;
	width: 15em;
	text-align: left;
}

.fa-edit {
	color: var(--tertiary);
}

.fa-trash-alt {
	color: var(--warning);
}

.fa-edit:hover,
.fa-trash-alt:hover {
	opacity: 0.5;
}

.tools-data {
	display: flex;
	justify-content: space-between;
}

.tools-row {
	width: 7% !important;
}

.view-data {
	display: inline-block;
	background-color: var(--primary);
	color: var(--secondary);
	padding: 10px 14px;
	margin: 0 4px;
	border-radius: 100%;
}

.view-data:hover {
	opacity: 0.8;
}

.btn-new {
	display: inline-block;
	padding: 0 10px;
	border-radius: 5px;
	background-color: var(--tertiary);
	color: var(--secondary);
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	font-weight: bolder;
}
.btn-new:hover {
	opacity: 0.8;
}

.pagination .page-item a {
	color: var(--warning);
	font-weight: bold;
}

.pagination .disabled a {
	color: var(--secondary) !important;
}

.modal-header,
.modal-body,
.modal-footer {
	border: none;
	color: var(--default);
}

.fa-exclamation-circle {
	color: #ffbb00;
}

.btn-delete {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: var(--warning);
	color: var(--secondary);
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	font-weight: bolder;
}

.btn-cancel {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: var(--primary);
	color: var(--secondary);
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	font-weight: bolder;
}
