<app-navbar></app-navbar>
<section class="banner">
	<div class="container animated fadeIn">
		<div class="row">
			<div class="col-sm-6">
				<h2>Singapore Institute of Technology</h2>
				<p>
					Registro de graduados según año, sexo y curso. Accede o regístrate para poder visualizar la
					información.
				</p>
				<div class="buttons">
					<a class="btn-landing" routerLink="/sign-in">Iniciar Sesión</a>
					<a class="btn-landing" routerLink="/sign-up">Regístrate</a>
				</div>
			</div>
		</div>
	</div>
</section>
