<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" style="cursor: pointer" (click)="GoHome()">Proyecto SPA</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto">
					<li *ngIf="!isLogged" class="nav-item">
						<a class="nav-link" routerLink="/sign-in">Acceder</a>
					</li>
					<li *ngIf="!isLogged" class="nav-item">
						<a class="nav-link" routerLink="/sign-up">Registrarse</a>
					</li>
					<li *ngIf="isLogged" style="cursor: pointer" class="nav-item">
						<a class="nav-link" (click)="LogOut()">Salir</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
